[0;1;32m●[0m scraper.service - My Python Script
     Loaded: loaded (/etc/systemd/system/scraper.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Thu 2023-06-22 01:18:08 CDT; 24min ago
   Main PID: 628 (python3)
      Tasks: 110 (limit: 1052)
     Memory: 344.5M
     CGroup: /system.slice/scraper.service
             ├─ 628 /usr/bin/python3 /home/azureuser/project/prizepicks-strikeouts-scraper/Scraper.py
             ├─ 829 /usr/bin/google-chrome-stable user-agent=Mozilla/4.0 (compatible; MSIE 7.0b; Windows NT 5.1; .NET CLR 1.1.4322; InfoPath.1; .NET CLR 2.0.50727) --no-sandbox --disable-dev-shm-usage --remote-debugging-host=127.0.0.1 --remote-debugging-port=54867 --headless --user-data-dir=/tmp/tmpgenjvcu8 --lang=en-US --no-default-browser-check --no-first-run --no-sandbox --test-type --headless=new --window-size=1920,1080 --start-maximized --no-sandbox --log-level=0
             ├─ 830 /home/azureuser/.local/share/undetected_chromedriver/undetected_chromedriver --port=51745
             ├─ 834 cat
             ├─ 835 cat
             ├─ 846 /opt/google/chrome/chrome_crashpad_handler --monitor-self --monitor-self-annotation=ptype=crashpad-handler --database=/home/azureuser/.config/google-chrome/Crash Reports --url=https://clients2.google.com/cr/report --annotation=channel= --annotation=lsb-release=Ubuntu 20.04.6 LTS --annotation=plat=Linux --annotation=prod=Chrome_Linux --annotation=ver=114.0.5735.133 --initial-client-fd=5 --shared-client-connection
             ├─ 848 /opt/google/chrome/chrome_crashpad_handler --no-periodic-tasks --monitor-self-annotation=ptype=crashpad-handler --database=/home/azureuser/.config/google-chrome/Crash Reports --url=https://clients2.google.com/cr/report --annotation=channel= --annotation=lsb-release=Ubuntu 20.04.6 LTS --annotation=plat=Linux --annotation=prod=Chrome_Linux --annotation=ver=114.0.5735.133 --initial-client-fd=4 --shared-client-connection
             ├─ 853 /opt/google/chrome/chrome --type=zygote --no-zygote-sandbox --no-sandbox --headless=new --log-level=0 --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --ozone-platform=headless --ozone-override-screen-size=800,600 --use-angle=swiftshader-webgl
             ├─ 854 /opt/google/chrome/chrome --type=zygote --no-sandbox --headless=new --log-level=0 --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --ozone-platform=headless --ozone-override-screen-size=800,600 --use-angle=swiftshader-webgl
             ├─ 858 /opt/google/chrome/nacl_helper --no-sandbox
             ├─ 880 /opt/google/chrome/chrome --type=gpu-process --no-sandbox --disable-dev-shm-usage --headless=new --log-level=0 --ozone-platform=headless --use-angle=swiftshader-webgl --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --gpu-preferences=WAAAAAAAAAAgAAAMAAAAAAAAAAAAAAAAAABgAAAAAAA4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAAAAAAAAYAAAAAAAAAAgAAAAAAAAACAAAAAAAAAAIAAAAAAAAAA== --log-level=0 --shared-files --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding
             ├─ 884 /opt/google/chrome/chrome --type=utility --utility-sub-type=network.mojom.NetworkService --lang=en-US --service-sandbox-type=none --no-sandbox --disable-dev-shm-usage --log-level=0 --use-angle=swiftshader-webgl --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --log-level=0 --shared-files=v8_context_snapshot_data:100 --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding
             ├─ 886 /opt/google/chrome/chrome --type=utility --utility-sub-type=storage.mojom.StorageService --lang=en-US --service-sandbox-type=utility --no-sandbox --disable-dev-shm-usage --log-level=0 --use-angle=swiftshader-webgl --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --log-level=0 --shared-files=v8_context_snapshot_data:100 --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding
             ├─1155 /opt/google/chrome/chrome --type=renderer --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --no-sandbox --disable-dev-shm-usage --log-level=0 --remote-debugging-port=54867 --test-type --ozone-platform=headless --disable-gpu-compositing --lang=en-US --num-raster-threads=1 --renderer-client-id=8 --time-ticks-at-unix-epoch=-1687414676472741 --launch-time-ticks=26917501 --shared-files=v8_context_snapshot_data:100 --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding
             ├─1201 /opt/google/chrome/chrome --type=renderer --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --no-sandbox --disable-dev-shm-usage --log-level=0 --remote-debugging-port=54867 --test-type --ozone-platform=headless --disable-gpu-compositing --lang=en-US --num-raster-threads=1 --renderer-client-id=9 --time-ticks-at-unix-epoch=-1687414676472741 --launch-time-ticks=31340073 --shared-files=v8_context_snapshot_data:100 --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding
             └─1212 /opt/google/chrome/chrome --type=renderer --crashpad-handler-pid=846 --enable-crash-reporter=, --noerrdialogs --user-data-dir=/tmp/tmpgenjvcu8 --change-stack-guard-on-fork=enable --no-sandbox --disable-dev-shm-usage --log-level=0 --remote-debugging-port=54867 --test-type --ozone-platform=headless --disable-gpu-compositing --lang=en-US --num-raster-threads=1 --renderer-client-id=10 --time-ticks-at-unix-epoch=-1687414676472741 --launch-time-ticks=31657437 --shared-files=v8_context_snapshot_data:100 --field-trial-handle=0,i,5793141923726298286,8372433408613201839,262144 --disable-features=PaintHolding

Jun 22 01:18:08 ubuntu-prizepicks-scraper systemd[1]: Started My Python Script.
